<nav id="main-navigation" class="site-head__nav site-head__nav--main">
    <button
      class="site-head__nav__show-hide site-head__nav--main__show-hide"
    >
      Menu
    </button>
    <ul id="menu-main-navigation" class="menu">
      <li
        id="menu-item-63"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-63"
      >
        <a href="https://ieee-npss.org/technical-committees/">Comités</a>
        <ul class="sub-menu">
          <li
            id="menu-item-112"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"
          >
            <a
              href="https://ieee-npss.org/technical-committees/computer-applications-in-nuclear-and-plasma-science/"
              >Computer Applications in Nuclear and Plasma Sciences
              (CANPS)</a
            >
          </li>
          <li
            id="menu-item-113"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"
          >
            <a
              href="https://ieee-npss.org/technical-committees/fusion-technology/"
              >Fusion Technology Standing Committee (FTC)</a
            >
          </li>
          <li
            id="menu-item-114"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"
          >
            <a
              href="https://ieee-npss.org/technical-committees/nuclear-medical-and-imaging-sciences/"
              >Nuclear Medical and Imaging Sciences (NMISC)</a
            >
          </li>
          <li
            id="menu-item-115"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"
          >
            <a
              href="https://ieee-npss.org/technical-committees/particle-accelerator-science-and-technology/"
              >Particle Accelerator Science and Technology (PAST)</a
            >
          </li>
          <li
            id="menu-item-116"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"
          >
            <a
              href="https://ieee-npss.org/technical-committees/plasma-science-and-applications/"
              >Plasma Science and Applications (PSAC)</a
            >
          </li>
          <li
            id="menu-item-117"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"
          >
            <a
              href="https://ieee-npss.org/technical-committees/pulsed-power-science-and-technology/"
              >Pulsed Power Science and Technology (PPST)</a
            >
          </li>
          <li
            id="menu-item-118"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"
          >
            <a
              href="https://ieee-npss.org/technical-committees/radiation-effects/"
              >Radiation Effects (REC)</a
            >
          </li>
          <li
            id="menu-item-119"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"
          >
            <a
              href="https://ieee-npss.org/technical-committees/radiation-instrumentation/"
              >Radiation Instrumentation (RITC)</a
            >
          </li>
          <li
            id="menu-item-120"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"
          >
            <a
              href="https://ieee-npss.org/technical-committees/transnational-committee/"
              >Transnational Committee (TNC)</a
            >
          </li>
          <li
            id="menu-item-2754"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2754"
          >
            <a
              href="https://ieee-npss.org/technical-committees/functional-committees/"
              >Functional Committees</a
            >
          </li>
          <li
            id="menu-item-1576"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1576"
          >
            <a href="http://ieeenpss.wpengine.com/adcom-info/">AdCom</a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-62"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"
      >
        <a href="https://ieee-npss.org/conferences/">Conferences</a>
      </li>
      <li
        id="menu-item-61"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-61"
      >
        <a href="https://ieee-npss.org/awards/">Awards</a>
        <ul class="sub-menu">
          <li
            id="menu-item-142"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"
          >
            <a href="https://ieee-npss.org/awards/ieee-awards/"
              >IEEE Awards</a
            >
          </li>
          <li
            id="menu-item-164"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"
          >
            <a href="https://ieee-npss.org/awards/npss-awards/"
              >NPSS Awards</a
            >
          </li>
          <li
            id="menu-item-163"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"
          >
            <a
              href="https://ieee-npss.org/awards/technical-committee-awards/"
              >Technical Committee Awards</a
            >
          </li>
          <li
            id="menu-item-162"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"
          >
            <a href="https://ieee-npss.org/awards/conference-awards/"
              >Conference Awards</a
            >
          </li>
        </ul>
      </li>
      <li
        id="menu-item-60"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"
      >
        <a href="https://ieee-npss.org/chapters/">Chapters</a>
      </li>
      <li
        id="menu-item-59"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"
      >
        <a href="https://ieee-npss.org/distinguished-lecturers/"
          >Distinguished Lectures</a
        >
      </li>
      <li
        id="menu-item-58"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-58"
      >
        <a href="https://ieee-npss.org/publications/">Publications</a>
        <ul class="sub-menu">
          <li
            id="menu-item-2489"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2489"
          >
            <a
              href="https://ieee-npss.org/publications/transactions-on-nuclear-science/"
              >Transactions on Nuclear Science</a
            >
          </li>
          <li
            id="menu-item-2490"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2490"
          >
            <a
              href="https://ieee-npss.org/publications/transactions-on-plasma-science/"
              >Transactions on Plasma Science</a
            >
          </li>
          <li
            id="menu-item-2488"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2488"
          >
            <a
              href="https://ieee-npss.org/publications/transactions-on-medical-imaging/"
              >Transactions on Medical Imaging</a
            >
          </li>
          <li
            id="menu-item-2666"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2666"
          >
            <a
              href="https://ieee-npss.org/publications/transactions-on-radiation-and-plasma-medical-sciences/"
              >Transactions on Radiation and Plasma Medical Sciences</a
            >
          </li>
          <li
            id="menu-item-3001"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3001"
          >
            <a href="https://ieee-npss.org/publications/"
              >NPSS Newsletter Archive</a
            >
          </li>
          <li
            id="menu-item-4069"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4069"
          >
            <a href="https://ieee-npss.org/plasma-connections/"
              >Plasma Connections</a
            >
          </li>
        </ul>
      </li>
      <li
        id="menu-item-2480"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2480"
      >
        <a href="https://ieee-npss.org/community/">Community</a>
        <ul class="sub-menu">
          <li
            id="menu-item-2484"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2484"
          >
            <a href="https://ieee-npss.org/education/">Education</a>
          </li>
          <li
            id="menu-item-4015"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4015"
          >
            <a
              href="https://ieee-npss.org/technical-committees/education-committee/"
              >Education Committee</a
            >
          </li>
          <li
            id="menu-item-2486"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2486"
          >
            <a href="https://ieee-npss.org/make-a-difference-get-involved/"
              >Get Involved! Contact us</a
            >
          </li>
          <li
            id="menu-item-2485"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2485"
          >
            <a href="https://ieee-npss.org/why-join-npss-and-ieee/"
              >NPSS Membership/Join</a
            >
          </li>
          <li
            id="menu-item-3635"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3635"
          >
            <a href="https://ieee-npss.org/fellows-committee/"
              >NPSS Fellows</a
            >
          </li>
          <li
            id="menu-item-3573"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3573"
          >
            <a href="https://ieee-npss.org/videos/">NPSS Videos</a>
          </li>
          <li
            id="menu-item-2487"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2487"
          >
            <a
              href="https://ieee-npss.org/why-join-npss-and-ieee/recruitment-and-new-npss-members/"
              >Recruitment</a
            >
          </li>
          <li
            id="menu-item-2483"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2483"
          >
            <a href="https://ieee-npss.org/students/"
              >Free NPSS Membership for Students</a
            >
          </li>
          <li
            id="menu-item-2481"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2481"
          >
            <a href="https://ieee-npss.org/women-in-engineering-wie/"
              >Women in Engineering (WIE)</a
            >
          </li>
          <li
            id="menu-item-2482"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2482"
          >
            <a href="https://ieee-npss.org/young-professionals/"
              >Young Professionals</a
            >
          </li>
          <li
            id="menu-item-4242"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4242"
          >
            <a
              href="https://ieee-npss.org/technical-committees/npss-foundation-fund/"
              >NPSS Foundation Fund</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>