<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% include header.html %}
  </head>
  <body>
    <main id="main-content" class="site-content">
      <article
        class="page-full post-64 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        <div class="tc fw1 f2 near-white sans-serif center" id="clockdiv"></div>
        <script>
          var event = {{ page | jsonify }};
          var eventDate = new Date(event.eventdate);
          var eventDateFormatted = eventDate.toLocaleDateString('es-CR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
          var eventTime = eventDate.toLocaleTimeString('es-CR', { hour: '2-digit', minute: '2-digit' });
          
          function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            return {
              'total': t,
              'days': days,
              'hours': hours,
              'minutes': minutes,
              'seconds': seconds
            };
          }

          function InitializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
              var t = getTimeRemaining(endtime);
              var time = t.days + ' días ' + t.hours + ' horas ' + t.minutes + ' minutos ' + t.seconds + ' segundos';
              if (t.days == 1) {
                var time = t.days + ' día ' + t.hours + ' horas ' + t.minutes + ' minutos ' + t.seconds + ' segundos';
              }
              if (t.days == 0) {
                var time = t.hours + ' horas ' + t.minutes + ' minutos ' + t.seconds + ' segundos';
              }
              if (t.days == 0 && t.hours == 0) {
                var time = t.minutes + ' minutos ' + t.seconds + ' segundos';
              }
              if (t.days == 0 && t.hours == 0 && t.minutes == 0) {
                var time = t.seconds + ' segundos';
              }
              document.getElementById('clockdiv').innerHTML = '<p><strong><div class="tc fw1 f2 near-white sans-serif center">Este evento inicia en ' + time + '</div></strong></p>'

              if (t.total <= 0) {
                clearInterval(timeinterval);
              }
              if (eventDate < new Date()) {
                document.getElementById('clockdiv').innerHTML = '<div class="tc fw1 f2 near-white sans-serif center">El evento ha finalizado</div>';
              }
            }

            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
          }
          
          InitializeClock('clockdiv', eventDate);

          if (eventDate < new Date()) {
            document.getElementById('clockdiv').innerHTML = '<div class="tc fw1 f2 near-white sans-serif center">El evento ha finalizado</div>';
          }
        </script>
        <div class="entry-content">{{ content }}</div>
        </article>
    </section>
    <section class="conference-bucket">
      <header class="header">
        <h2 class="header__headline">Eventos</h2>
      </header>
      <ul class="conference-bucket__conferences">
        {% for event in site.events limit:5 %}
        <li class="conference-bucket__conference">
          <h3 class="conference-bucket__conference__name">
            <a href="{{ event.url | relative_url }}" target="_blank">{{ event.title }}</a>
          </h3>
          <p class="conference-bucket__conference__meta">{{event.eventdate | replace: "-0600", "GMT-6"}}</p>
        </li>
        {% endfor %}
      </ul>
  </section>
    </main>
    {% include footer.html %}
  </body>
</html>
