<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% include header.html %}
  </head>
  <body>
    <main id="main-content" class="site-content">
      <article
        class="page-full post-64 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">{{ page.title }}</h1>
        </header>
        <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-yesc" class="countdown-timer" data-style="circles" data-timezone="America/Costa_Rica" data-language="es" data-date="2023-03-20 23:35" data-background="#cc3333">Countdown Timer</a>
        <div class="entry-content">{{ content }}</div>
        </article>
    </section>
    </main>
    {% include footer.html %}
  </body>
</html>
